.slideshow-container {
    position: relative;
  }
  .section {
    background-image: url("https://wallpaper.dog/large/5569895.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media screen and (max-width:600px) {
    .rag{
      font-size: 36px;
      line-height: 50px;
    }
    .section {

  
    min-width:1000px;
    }
    .dir{
       margin-right: 300px; 
    }
    .navbar{
 display: flex;
  align-items: center; 
  

    } 
    .slideshow-container {
position: relative;
background-size: cover;
width:1000px;
padding-left: 20px;
    }
    .ron{
      margin-left: 50px;
    }
    .bev{
      margin-right: 100px;
      width:1000px;
    }
.bav{
  left:0
}
.int{
  width:250px
}

.address{
  width:1000px;
}
.address .add{
  margin-right:40px;
}
.chat{
  position: fixed;
  bottom: 0;
}
.map{
  width: 1000px;
}
.slide{
  margin-right: 100px;
}
.slide img{
  width:500px;
}
.image{
  width: 250px;
  height: 100px;
}
  }
  
  
  
  
  