@media screen and (max-width:1300px)  {
    .navC{
        display:flex;
        align-items: center;
    }
    .cont{
        margin-right: 300px;
    }
    .web{
        margin-right: 120px;
        width:500px;
    }
    .mod{
        font-size: 20px;
    }
    .team{
        width:1000px;
    margin: 0%;
    margin-left: 100px;
    row-gap: 0;
    margin-top: 200px;
    }
    .first{
display: grid;
grid-area: auto;
grid-template-columns: 1fr;
        width:1000px;
      
    }
   
    .med{
        display: grid ;
        
     margin-left: 50px;
        

    }
    .tom{
       margin-top: 24px;
       margin-left: 50px;
    }
    .second{
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr;
                width:1000px;
              
            }

    .bray{
       
        margin-top: 24px;
        margin-left: 50px;
    }
    .cibil{
        
        margin-top: 24px;
        margin-left: 50px;
     gap: 10px;
      
    
    }
    .third{
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr;
                width:1000px;
              
            }

    .pedro{
        margin-top: 24px;
        margin-left: 50px;
    }
    .alva{
      
        margin-top: 24px;
        margin-left: 50px;
    }
    .last{
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr;
                width:1000px;
              
            }
    .harold{
        margin-top: 24px;
        margin-left: 50px;
    }
    .jess{
        margin-top: 24px;
        margin-left: 50px;
    }
    .cha{
   
        position:fixed;
        bottom: 0;
        margin-right: 400px;
      
    }
}