.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media screen and (max-width:1300px){
    body{
      width:1300px;
      background-size: cover;
    }
    .pp{
     margin-left: 50px;
    }
    .na{
      width: 500px;
      /* margin-right: 120px; */
      
    }
 .hea{
 padding-left: 10px;
  font-size: 20px;
 }
 .bidi{
  margin-right: 100px;
 }
 .bid{
  display:flex;
  align-items: center;
 }
 .nobid{
 padding: 5px 5px 5px 5px 5px;
 }
 .ch{
  margin-right: 10px;
 }
  }
  